[submodule "Calc/LIQ"]
	path = Calc/LIQ
	url = https://github.com/Jaiswal-ruhil/calculator-liquid.git

[submodule "Calc/EMI"]
	path = Calc/EMI
	url = https://github.com/Jaiswal-ruhil/calculator-emi.git

[submodule "Calc/CI"]
	path = Calc/CI
	url = https://github.com/Jaiswal-ruhil/calculator-ci.git
[submodule "Calc/GST"]
	path = Calc/GST
	url = https://github.com/Jaiswal-ruhil/calculator-gst.git
