<footer class="mui-bottombar">
  <div class="mui-bottombar-content">
    <span>&copy; 2025 RK Groups &mdash; All rights reserved.</span>
    <span class="mui-bottombar-links">
      <a href="{{ '/' | relative_url }}">Home</a>
      <span class="mui-divider">|</span>
  <a href="{{ '/companies/rk-oxygen/gorakhpur/terms/' | relative_url }}">Terms</a>
      <span class="mui-divider">|</span>
  <a href="{{ '/companies/rk-oxygen/gorakhpur/refund-policy/' | relative_url }}">Refund Policy</a>
      <span class="mui-divider">|</span>
  <a href="{{ '/Calc/GST/' | relative_url }}">GST Calculator</a>
      <span class="mui-divider">|</span>
  <a href="{{ '/Calc/LIQ/' | relative_url }}">Liquid Calculator</a>
    </span>
  </div>
</footer>

    <a href="https://github.com/rk-Groups/rk-Groups.github.io/issues/new" target="_blank" class="mui-btn mui-alert--warning mui-bottombar-report">
      <span class="material-icons" aria-label="Report Issue">flag</span> Report Issue
    </a>
<div style="height: 40px;"></div>
