<div class="sidebar navbar-inverse" style="position:fixed;top:60px;left:0;width:220px;height:100%;padding-top:20px;z-index:1000;overflow-y:auto;">
  <ul class="nav nav-pills nav-stacked" style="margin-bottom:20px;">
    <li><a href="{{ '/' | relative_url }}">Home</a></li>
    <li><a href="{{ '/companies/rk-oxygen/gorakhpur/terms.html' | relative_url }}">Terms of Service</a></li>
    <li><a href="{{ '/companies/rk-oxygen/gorakhpur/refund-policy.html' | relative_url }}">Refund Policy</a></li>
    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#">Calculators <span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><a href="{{ '/Calc/GST/index.html' | relative_url }}">GST Calculator</a></li>
        <li><a href="{{ '/Calc/LIQ/index.html' | relative_url }}">Liquid Calculator</a></li>
      </ul>
    </li>
  </ul>
</div>
<div style="width:220px;display:inline-block;"></div>
